@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0px 10px;
  /* background-color: black; */
}

/* ul {
  list-style: disc;
} */

.divContainer {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  overflow: hidden;
}

.infoContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

@media screen and (max-width: 800px) {
  .infoContainer {
    flex-direction: column;
  }

  .divContainer {
    width: 90%;
    margin: 5px 0px;
  }
}

@media screen and (max-width: 360px) {
  .divContainer {
    width: 100%;
  }
}
